$primary-color: #1e90ff;    // Açık Mavi
$secondary-color: #ff6347; // Turuncumsu Kırmızı
$background-color: #121212; // Koyu Arka Plan
$text-color: #e0e0e0;       // Açık Metin
$card-background: #1e1e1e;  // Kart Arka Planı
$border-color: #333;        // Kart Kenar Rengi